.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #d8ebe4;
}

h1 {
  margin: 30px;
  font-family:'indie Flower';
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #343f56;
}

p {
  font-size: 2rem;
  color: #343f56;
  font-family:'Lobster';
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #387c6d;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
